html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat;
}

h1,
h2,
h3 {
  font-family: Oswald;
}

.anchor {
  padding-top: 150px;
  visibility: hidden;
}

.section-seperator {
  height: 2px;
  background-color: #ee5253;
  width: 10%;
  padding: 0;
  margin: auto;
}

/* Navbar Page */
.navbar-brand {
  font-size: 1.5rem;
  font-family: Oswald;
  font-weight: 500;
  color: #ee5253 !important;
}

.nav-link {
  font-size: 1.25rem;
  font-family: Oswald;
  color: #fff !important;
}

.nav-link:hover {
  color: rgb(211, 211, 211) !important;
}

/* Landing Page */
.title {
  padding: 0 10%;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
      to bottom,
      rgba(67, 67, 67, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      url("../images/mountains.png");

  background-size: cover;
}

.container-fluid {
  padding: 2%;
}

.landing {
  position: relative;
  text-align: center;
  height: 100%;
}

.big-heading {
  margin-top: 7%;
  font-size: 10rem;
  color: #ee5253;
  font-family: Oswald;
  font-weight: 500;
}

.seperator {
  height: 2px;
  background-color: #fff;
  width: 52%;
}

.slogan {
  margin-top: 3%;
  font-size: 1.2rem;
  color: #fff;
  font-family: Ubuntu;
  font-weight: bold;
  padding-bottom: 18%;
}

/*About Section*/
.about-anchor {
  padding-top: 50px;
  visibility: hidden;
}

.about-section {
  background: #0c0c11;
}

.about {
  padding: 7% 10%;
  color: #ffffff;
}

.about-paragraph {
  padding-left: 4%;
}

.about-paragraph p {
  color: #adadad;
}

.about-table td {
  padding-right: 80px;
  padding-top: 30px;
}

.btn-download {
  border-color: rgba(238, 82, 83, 0);
  background: rgb(238, 82, 83);
  margin-top: 40px;
  border-radius: 20px;
  color: #fff;
  padding: 1%;
}

.btn-download:hover {
  border-color: rgba(238, 82, 83, 0);
  background: rgb(190, 58, 58);
  color: #fff;
}

.profile-img {
  background-image: url(../images/avatar.jpg);
  background-size: cover;
  width: inherit;
  padding: 15%;
  border: 5px rgb(238, 82, 83) solid;
}

/*Skills section*/
.section-title {
  font-size: 3rem;
  margin-bottom: 7%;
}
.skills {
  padding: 7% 10%;
  background: #0c0c11;
  color: white;
  text-align: center;
  background: rgb(12, 12, 17); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(12, 12, 17, 1) 0%,
    rgba(34, 35, 37) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(12, 12, 17, 1) 0%,
    rgba(34, 35, 37) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(12, 12, 17, 1) 0%,
    rgb(34, 35, 37) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0c11', endColorstr='#45484d',GradientType=0 ); /* IE6-9 */
}

.skill-row {
  margin-bottom: 8%;
}

.skill-icon {
  color: rgb(238, 82, 83);
}

.skill-title + p {
  color: #adadad;
}

.scroll-btn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  color: rgb(238, 82, 83); /* Set a background color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

/* .fas {
  display: none !important;
} */

.scroll-btn:hover {
  color: rgb(190, 58, 58);
}

/*Projects Section*/
.projects {
  padding: 0% 10% 7%;
  text-align: center;
  background-color: black;
  background: rgb(34, 35, 37); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(34, 35, 37) 0%,
    rgba(19, 19, 25, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(34, 35, 37) 0%,
    rgba(19, 19, 25, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(34, 35, 37) 0%,
    rgba(19, 19, 25, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44474c', endColorstr='#383838',GradientType=0 ); /* IE6-9 */
  /* IE6-9 */
}

.project-title {
  margin-bottom: 4%;
  color: white;
}

.card {
  border: 1px solid white;
  height: 100%;
  width: 17rem !important;
  font-family: Montserrat;
  font-size: 0.8rem;
  color: #bdbdbd;
  background-color: rgba(0, 0, 0, 0.4);
}

.card strong {
  color: white;
}

.card-btn {
  border-color: rgba(238, 82, 83, 0);
  background: rgb(238, 82, 83);
  color: #fff;
  font-size: 1rem;
  padding: 0.6rem;
  border-radius: 0.3rem;
}

.card-btn:hover {
  border-color: rgba(238, 82, 83, 0);
  background: rgb(190, 58, 58);
  color: #fff;
  text-decoration: none;
}

.btn-primary {
  border-color: rgb(238, 82, 83);
  background-color: rgb(238, 82, 83);
}

.btn-hover {
  border-color: rgb(238, 82, 83);
  background-color: rgb(238, 82, 83);
}

.carousel-control-prev {
  margin-left: -7rem;
}

.carousel-control-next {
  margin-right: -7rem;
}

.projects-more-info {
  color: white;
}

.projects-more-info a {
  color: white;
}

.github-icon {
  margin-right: 1%;
}

/*cta*/
.cta {
  padding: 0% 10% 7%;
  text-align: center;
  background-color: rgba(19, 19, 25, 1);
}

.footer {
  padding: 0% 10% 7%;
  color: #ffffff;
  text-align: center;
  background-color: rgba(19, 19, 25, 1);
}

.section-footer-seperator {
  margin-bottom: 7%;
}

.footer-icon {
  margin: 2% 1%;
}

.footer-icon-link {
  color: white;
}

.footer-icon-link:visited {
  color: white;
}

.footer-icon-link:hover {
  color: #b3b3b3;
}
